.contact{
    &__container{
        display: flex;
        border-radius: 30px;
        background-color: $--gray-bg;
        display: grid;
        grid-template-columns:  .677fr .323fr;
        grid-template-columns: .675fr .325fr ;
        // justify-content: space-between;
      @media screen and (max-width:1023px) {
        flex-direction: column;
        display: flex;
      }
      & img{
        width: 100%;
        border-radius: 0 20px  20px 0;
        object-fit: cover;
        max-height: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
        // width: auto; /* Автоматична ширина */
        // max-height: 100%;
        @media screen and (max-width:1023px) {
            width: 100%;
            max-height: 450px;
            border-radius: 20px;
        }
    }
    &-communication{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 60px;
        padding: 60px 60px 60px 60px;
        // max-width: 750px;
        @media screen and (max-width:1240px) {
          padding: 55px 55px 55px 30px;
        }
        @media screen and (max-width:1023px) {
           max-width: 100%;
           width: 100%;
           padding: 30px;
           margin-left: 0;
        }
        @media screen and (max-width:767px) {
            gap: 30px;
            padding: 20px 10px;
        }
        &-contacts{
            display: flex;
            gap: 60px;
            @media screen and (max-width:1240px) {
                gap: 25px;
            }
            @media screen and (max-width:1023px) {
                flex-wrap: wrap;
            }
            & span,
            & a{
                display: flex;
                flex-direction: column;
                gap: 30px;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                @media screen and (max-width:550px) {
                    word-break: break-word;
                    font-size: 18px;
                }
                & span{
                    color: #BDBDBD;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal
                }
            }
        }
        &-social{
            display: flex;
            flex-direction: column;
            gap: 30px;
        & span{
            color: #BDBDBD;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }   
         &-wrap{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            max-width: calc(100% - 47px);
            width: 100%;
            @media screen and (max-width:767px) {
                flex-wrap: wrap;
                max-width: 100%;
            }
            & .circle{
                width: 25.7%;
                background-color: transparent;
                border-color: $--white;
                padding: 15px;
                @media screen and (max-width:767px) {
                   max-width: calc(100% - 47px);
                   width: 100%;
                }
                &:hover {
                    background-color: $--redHover;
                    border-color: transparent;
                    &::after{
                        background-color: inherit;
                        border-color: transparent;
                    }
                }
                &:after{
                    background-color: transparent;
                    border-color: $--white;
                    max-width: 47px;
                    max-height: 47px;
                    right: -72px;
                }
             }
         }
         
        }
    }
}
}