

.main{
    background: url(../image/main.jpg) center center / cover no-repeat ;
    position: relative;
    padding: 75px 0; 

    &__container {
        padding: 250px 69px;
        display: flex;
        align-items: center;
        position: relative;
        max-width: 100%;
        width: 100%;
        height: 100%;
       overflow: hidden;
       z-index: 0;
   
       & i{
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        border-radius: 40px;
        padding: 5px; 
        -webkit-mask: 
           linear-gradient(#fff 0 0) content-box, 
           linear-gradient(#fff 0 0); 
        -webkit-mask-composite: xor; 
        mask-composite: exclude; 
        background: linear-gradient(104.47deg, rgba(13, 13, 13, 0) 0.46%, #5A5A5E 49.23%, rgba(13, 13, 13, 0) 100%) border-box;
       }
       @media screen and (max-width:1023px) {
        height: 100dvh;
        padding: 0 30px;
        
       }
        &-content{
            position: relative;
            z-index: 1;
            max-width: 600px;
            text-wrap: balance;
            @media screen and (max-width:1023px) {
                max-width: 100%;
            }
            & h1{
                margin-bottom: 10px;
                @media screen and (max-width:550px) {
                    font-size: 42px;
                }
            }
            & p{
                margin-bottom: 40px;
                font-size: 20px;
            }
            & .btn{
                max-width: 250px;
                @media screen and (max-width:550px) {
                    max-width: calc(100% - 57px);
                }
            }
        }
    }
}
